<section class="sidebar" data-ng-controller="appLeftMenuController">
    <div class="user-panel">
        <div class="univergelogo">
           <strong class="uni">Notification</strong><strong class="verge">System</strong>
        </div>
    </div>
    
    <ul class="sidebar-menu">
    	<li data-ng-repeat="item in menu" data-ng-class="{ treeview : item.children.length > 0}" id="{{item.id}}">
    		<a data-ng-click="clickTopItem(item)" class="link-pointer">
                <i class="{{item.class}}"></i>
                <span>{{item.text}}</span>
                <i class="fa pull-right fa-angle-left" data-ng-if="item.children.length > 0"></i>
            </a>
            <ul class="treeview-menu" data-ng-if="item.children.length > 0">
                <li data-ng-repeat="childItem in item.children" style="margin-left: 10px; cursor: pointer;" data-ng-click="clickChildItem(childItem)" id="{{childItem.id}}">
                	<a>
                		<i class="{{childItem.class}}"></i> {{childItem.text}}
                	</a>
                </li>
	        </ul>
    	</li>
    </ul>
</section>


