
<div data-ng-controller="messageController">
	<div class="alert alert-{{alert.type}} alert-dismissable" ng-repeat="alert in alerts">
        <i class="fa" ng-class="{ danger : 'fa-ban', info : 'fa-info', success : 'fa-check', warning : 'fa-warning' }[alert.type]"></i>
        <button type="button" class="close" data-ng-click="closeMessage()">
	        <span aria-hidden="true">x</span>
	    </button>
        <span data-i18n="{{alert.msg}}" ng-show="alert.isI18"></span>
        <span ng-hide="alert.isI18">{{alert.msg}}</span>
    </div>
</div>
