
<section class="content-header ng-scope">
	<div class="univerge-header">
		Dashboard<small></small>
	</div>
	<ol class="breadcrumb">
		<li class="active"> Dashboard</li>
	</ol>
</section>
<section class="content">

	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-lg-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                  <div class="inner">
                  	<h5>
                  		New Students
                  	</h5>
                      <h3>
                         5
                      </h3>
                      <p data-i18n="lbl_dashboard_running_projects" >
                          
                      </p>
                  </div>
                  <div class="icon">
                      <i class="fa fa-table"></i>
                  </div>
                  <a href="#" class="small-box-footer"  data-i18n="lbl_dashboard_moreinfo">
                       <i class="fa fa-arrow-circle-right"></i>
                  </a>
              </div>
         </div>
		
		<div class="col-lg-6 col-xs-6">
           <!-- small box -->
           <div class="small-box bg-green">
               <div class="inner">
               		<h5>
                  		 Passed students 
                  	</h5>
                   <h3>
                     780
                   </h3>
                   <p data-i18n="lbl_dashboard_completd_projects">
                      
                   </p>
               </div>
               <div class="icon">
                   <i class="ion ion-stats-bars"></i>
               </div>
               <a href="#" class="small-box-footer" data-i18n="lbl_dashboard_moreinfo">
                   <i class="fa fa-arrow-circle-right"></i>
               </a>
           </div>
        </div><!-- ./col -->
		
		<div class="col-lg-6 col-xs-6">
             <!-- small box -->
             <div class="small-box bg-yellow">
                 <div class="inner">
                 	<h5>
                  		  Registered Student  
                  	</h5>
                     <h3>
                      150<sup style="font-size: 20px">+</sup>
                     </h3>
                     <p data-i18n="lbl_dashboard_employees">
                         
                     </p>
                 </div>
                 <div class="icon">
                     <i class="ion ion-person-add"></i>
                 </div>
                 <a href="#" class="small-box-footer" data-i18n="lbl_dashboard_moreinfo">
                     <i class="fa fa-arrow-circle-right"></i>
                 </a>
             </div>
         </div><!-- ./col -->
		<div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                	<h5>
                  		 Registration Failed 
                  	</h5>
                    <h3>
                      3
                    </h3>
                    <p data-i18n="lbl_dashboard_successful_projects">
                      
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" data-i18n="lbl_dashboard_moreinfo">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
         </div><!-- ./col -->
		
	</div>
	<!-- /.row -->



	<!-- top row -->
	<div class="row">
		<div class="col-xs-12 connectedSortable ui-sortable"></div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

</section>



